.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 890px;
  padding: var(--block-offset);
  background-image: url("../../images/feinman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  background-color: var(--gray);
}
