.header {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: var(--gray);
  overflow: hidden;
}
