.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  padding: 90px 0;
  background-color: var(--black);
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;

  width: 877px;
  height: 877px;

  background-image: url("../../images/triangle.svg");
  background-size: contain;
}
