@import url('./__triangle/kaufman__triangle.css');

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  padding: 90px 0;
  background-color: var(--black);
}
