.footer {
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  min-height: 350px;
  padding: 60px 0 40px;
  background-color: var(--black);
  color: var(--white);
}
