.footer {
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: border-box;

  min-height: 350px;
  padding: 60px 0 40px;

  background-color: var(--black);
  color: var(--white);
}

.footer__columns {
  display: flex;
  justify-content: space-between;

  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

/* стиль для ссылок футера */

.footer__column-link {
  text-decoration: none;
  color: var(--white);
}

.footer__column-link:hover {
  text-decoration: underline;
  opacity: var(--hover-opacity);
  transition: all ease-in-out 0.16s;
}

.footer__column-link:visited {
  color: var(--white);
}

.footer__author {
  align-self: flex-start;
  margin: 18px 0;

  line-height: 25px;
  font-size: 18px;
  font-weight: var(--normal);
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-links {
  margin: 0;
  padding: 0;

  margin-bottom: 16px;
  list-style: none;

  line-height: 30px;
  font-size: 18px;
  font-weight: var(--normal);
}

.footer__column-heading {
  margin: 0;
  padding: 0;

  margin-bottom: 20px;

  line-height: 30px;
  font-size: 18px;
  font-weight: var(--semibold);
}

.footer__social-icon {
  width: 16px;
  height: 16px;

  padding-right: 10px;
}
