:root {
  --left-padding: 64px;
  --block-offset: 100px 0;
  --blue: #2f80ed;
  --gray: #f2f2f2;

  /* fonts */
  --normal: 400;
  --semibold: 600;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  position: relative;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */

  background-color: var(--gray);
}

.logo {
  height: 32px;
  width: 183px;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: var(--left-padding);
}

.header__title {
  align-self: center;
  z-index: 2;

  width: 730px;
  margin: 0;
  padding-left: var(--left-padding);

  line-height: 96px;
  font-size: 102px;
  font-weight: var(--semibold);
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  z-index: 2;

  width: 388px;
  margin: 0;
  padding-left: var(--left-padding);

  line-height: 25px;
  font-size: 18px;
  font-weight: var(--normal);
}

.header_link,
.feynman__link {
  color: var(--blue);
  text-decoration: none;
}

.header_link::after,
.feynman__link::after {
  content: " →";
}

.header_link:hover,
.feynman__link:hover {
  text-decoration: underline;
}

.header_link:visited,
.feynman__link:visited {
  color: var(--blue);
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;

  z-index: 1;

  height: 608px;
  width: 765px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;

  height: 568px;
  width: 568px;
  background-color: var(--blue);
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description {
  display: flex;
  justify-content: center;

  padding: var(--block-offset);
}

.two-columns {
  display: flex;
  justify-content: space-between;

  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;

  line-height: 1.2;
  font-size: 18px;
  font-weight: var(--normal);

  color: var(--blue);
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;

  line-height: 34px;
  font-size: 24px;
  font-weight: var(--normal);
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: var(--semibold);
}

.two-columns__paragraph:nth-child(2) {
  padding: 30px 0;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--block-offset);

}

.section-title {
  width: 60%;
  text-align: center;

  margin: 0;
  margin-bottom: 20px;

  line-height: 1.15;
  font-size: 60px;
  font-weight: var(--semibold);
}

.section-subtitle {
  width: 60%;
  text-align: center;

  margin: 0;
  padding: 0;

  line-height: 34px;
  font-size: 24px;
  font-weight: var(--normal);
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;

  padding: 0;
  margin: 0 auto;

}

.table__cell {
  width: 250px;
  list-style: none;
  margin-top: 60px;
}

.table__heading {
  margin: 0;

  line-height: 1.15;
  font-size: 24px;
  font-weight: var(--semibold);
}

.table__text {
  margin: 0;
  margin-top: 20px;

  line-height: 1.2;
  font-size: 18px;
  font-weight: var(--normal);
}


.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  height: 55vh;
  padding: var(--block-offset);

  background-image: url("../images/feinman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.feynman__title {
  margin: 0;
  margin-bottom: 70px;

  width: 648px;
  text-align: center;

  line-height: 1.15;
  font-size: 120px;
  font-weight: var(--semibold);
}

.feynman__subtitle {
  margin: 0;

  line-height: 51px;
  font-size: 36px;
  font-weight: var(--normal);
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;

  line-height: 51px;
  font-size: 36px;
  font-weight: var(--normal);
}