:root {
  --left-padding: 64px;

  --blue: #2f80ed;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.logo {
  height: 32px;
  width: 183px;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: var(--left-padding);
}

.header__title {
  align-self: center;
  
  width: 730px;
  margin: 0;
  padding-left: var(--left-padding);

  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  
  width: 388px;
  margin: 0;
  padding-left: var(--left-padding);

  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.header_link {
  color: var(--blue);
  text-decoration: none;
}

.header_link::after {
  content: " →";
}

.header_link:hover {
  text-decoration: underline;
}

.header_link:visited {
  color: var(--blue);
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;

  z-index: -1;

  height: 608px;
  width: 765px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;

  height: 568px;
  width: 568px;
  background-color: var(--blue);
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

