:root {
  --left-padding: 64px;
  --block-offset: 100px 0;
  --blue: #2f80ed;
  --gray: #f2f2f2;
  --black: #1f1f1f;
  --white: #ffffff;

  /* fonts */
  --normal: 400;
  --semibold: 700;

  --hover-opacity: 0.6;
}

@keyframes rotation-square-pic {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* стиль для ссылок со стрелкой */

.link::after {
  content: " →";
}

.link:hover {
  text-decoration: underline;
  opacity: var(--hover-opacity);
  transition: all ease-in-out 0.16s;
}

.link:visited {
  color: var(--blue);
}

.header {
  display: flex;
  flex-direction: row;
  position: relative;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */

  background-color: var(--gray);

  overflow: hidden;
}

.logo {
  height: 32px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: var(--left-padding);
}

.header__title {
  align-self: center;
  z-index: 2;

  width: 730px;
  margin: 0;
  padding-left: var(--left-padding);

  line-height: 96px;
  font-size: 102px;
  font-weight: var(--semibold);
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  z-index: 2;

  width: 388px;
  margin: 0;
  left: var(--left-padding);

  line-height: 25px;
  font-size: 18px;
  font-weight: var(--normal);
}

.header__link,
.feynman__link {
  color: var(--blue);
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;

  z-index: 1;

  height: 608px;
  width: 765px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;

  height: 568px;
  width: 568px;
  background-color: var(--blue);
}

.rotation {
  animation: rotation-square-pic 20s linear infinite;
}

.description {
  display: flex;
  justify-content: center;

  margin: var(--block-offset);
}

.two-columns {
  display: flex;
  justify-content: space-between;

  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;

  line-height: 1.2;
  font-size: 18px;
  font-weight: var(--normal);

  color: var(--blue);
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;

  line-height: 34px;
  font-size: 24px;
  font-weight: var(--normal);
}

.two-columns__paragraph:last-child {
  padding: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: var(--semibold);
}

.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: var(--block-offset);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;

  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.cards__item {
  text-align: center;

  flex-basis: 240px;
  margin-right: 100px;
}

.cards__item:nth-child(3n) {
  margin-right: 0px;
}

.cards__title {
  margin: 0;
  padding: 0;
}

.cards__title {
  margin-bottom: 16px;
}

.cards__description {
  margin: 0;
  padding: 0;
}

.cards__image {
  width: 160px;
  height: 160px;

  margin: 60px 40px 43px;
  border-radius: 50%;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: var(--block-offset);
}

.section-title {
  width: 60%;
  text-align: center;

  margin: 0;
  margin-bottom: 20px;

  line-height: 1.15;
  font-size: 60px;
  font-weight: var(--semibold);
}

.section-subtitle {
  width: 60%;
  text-align: center;

  margin: 0;
  padding: 0;

  line-height: 34px;
  font-size: 24px;
  font-weight: var(--normal);
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;

  padding: 0;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  list-style: none;
  margin-top: 60px;
}

.table__heading {
  margin: 0;

  line-height: 1.15;
  font-size: 24px;
  font-weight: var(--semibold);
}

.table__text {
  margin: 0;
  margin-top: 20px;

  line-height: 1.2;
  font-size: 18px;
  font-weight: var(--normal);
}

.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  min-height: 890px;
  padding: var(--block-offset);

  background-image: url("../images/feinman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  background-color: var(--gray);
}

.feynman__title {
  margin: 0;
  margin-bottom: 70px;

  width: 648px;
  text-align: center;

  line-height: 1.15;
  font-size: 120px;
  font-weight: var(--semibold);
}

.feynman__subtitle {
  margin: 0;

  line-height: 51px;
  font-size: 36px;
  font-weight: var(--normal);
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;

  line-height: 51px;
  font-size: 36px;
  font-weight: var(--normal);
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  padding: 90px 0;
  background-color: var(--black);
}

.section-title_theme_dark {
  color: var(--white);
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: var(--white);

  line-height: 34px;
  font-size: 24px;
  font-weight: var(--normal);
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: var(--white);
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: var(--semibold);
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: var(--normal);
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;

  width: 877px;
  height: 877px;

  background-image: url("../images/triangle.svg");
  background-size: contain;
}

.footer {
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: border-box;

  min-height: 350px;
  padding: 60px 0 40px;

  background-color: var(--black);
  color: var(--white);
}

.footer__columns {
  display: flex;
  justify-content: space-between;

  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

/* стиль для ссылок футера */

.footer__column-link {
  text-decoration: none;
  color: #ffffff;
}

.footer__column-link:hover {
  text-decoration: underline;
  opacity: var(--hover-opacity);
  transition: all ease-in-out 0.16s;
}

.footer__column-link:visited {
  color: var(--white);
}

.footer__author {
  align-self: flex-start;
  margin: 18px 0;

  line-height: 25px;
  font-size: 18px;
  font-weight: var(--normal);
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-links {
  margin: 0;
  padding: 0;

  margin-bottom: 16px;
  list-style: none;

  line-height: 30px;
  font-size: 18px;
  font-weight: var(--normal);
}

.footer__column-heading {
  margin: 0;
  padding: 0;

  margin-bottom: 20px;

  line-height: 30px;
  font-size: 18px;
  font-weight: var(--semibold);
}

.footer__social-icon {
  width: 16px;
  height: 16px;

  padding-right: 10px;
}
